@model KitapTuru

<form method="post">
    <div class="border p-3 mt-5">
        <h2 class=""> Kitap Türü Güncelle </h2>
    </div>
    <div class="border mb-3">
        <label asp-for="Ad"  class="p-0">Tür Ad </label>
        <input asp-for="Ad" type="text" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger">  </span>
    </div>
    <button type="submit" class="btn btn-sm btn-primary" style="width:250px;">
      Güncelle
    </button>
    <a asp-controller="KitapTuru" asp-action="Index" class="btn  btn-sm btn-primary"> Kitap Türleri Listesi</a>
</form>

@* @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
} *@