@model KitapTuru

<form method="post">
    <div class="border p-3 mt-5">
        <h2 class=""> Kitap Türü Sil </h2>
    </div>
    <div class="border mb-3">
        <input asp-for="Ad" type="text" class="form-control"  disabled/>
    </div>
    <button type="submit" class="btn btn-sm btn-primary" style="width:250px;">
      Sil
    </button>
    <a asp-controller="KitapTuru" asp-action="Index" class="btn  btn-sm btn-danger"> <i class="fa fa-trash"></i> Kitap Türü Sil</a>
</form>

@* @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
} *@